#stars-component .glyphicon {
	margin: 0.5em;
	font-size: 2.0em;
}

#button-component{
	text-align: center;
	margin-top: 50px;
}

#stars-component .well, #answer-component .well {
	height: 200px;
}

#answer-component .number{
	display: inline-block;
	margin: 0.5em;
	background-color: #0b0;
	width: 32px;
	text-align: center;
	font-size: 22px;
	border-radius: 50%;
	cursor: pointer;
}

#numbers-component .number {
	display: inline-block;
	margin: 0.5em;
	background-color: #bbb;
	width: 32px;
	text-align: center;
	font-size: 22px;
	border-radius: 50%;
	cursor: pointer;
}

#numbers-component .selected-true {
	background-color: #e8e8e8;
	color: #ddd;
	cursor: not-allowed;
}

#numbers-component{
	text-align: center;
}